.DS_Store
.vs/
Demo/Demo.csproj.user
Demo/Properties
Demo/bin
Demo/obj
MuPDFCore.MuPDFRenderer/bin
MuPDFCore.MuPDFRenderer/obj
MuPDFCore/MuPDFCore.csproj.user
MuPDFCore/bin
MuPDFCore/obj
PDFViewerDemo/PDFViewerDemo.csproj.user
PDFViewerDemo/bin
PDFViewerDemo/obj
PDFViewerDemo/nuget.config
PDFViewerDemo/Properties
Thumbs.db
man/
native/CMakeSettings.json
native/out
Release
TestResults
MuPDFCoreTestHost/MuPDFCoreTestHost.csproj.user
MuPDFCoreTestHost/Properties/PublishProfiles/*.user
MuPDFCoreTestHost/bin
MuPDFCoreTestHost/obj
Tests/bin
Tests/obj
